<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManageInventory.Properties.Settings.InventoryManagementsDBConnectionString"
            connectionString="Data Source=LAPTOP-2FO6KVBK\SQLEXPRESS02;Initial Catalog=InventoryManagementsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>